@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff8ee;
  --foreground: #9b2d2d;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
